body {
    font-family: Arial, sans-serif;
}
body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.navbar-brand {
    color: #0f9d58;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link {
    color: black;
    transition: color 0.3s ease-in-out;
    border-radius: 10px;
    padding: 5px 15px;
}
.navbar-nav .nav-link:hover {
    color: #007f3e;
    background-color: rgba(15, 157, 88, 0.1);
}
/* Custom styles for animation and design */

.hero {
    background: linear-gradient(to bottom, #25d366, #ffffff);
    color: #fff;
    padding: 150px 0;
}
.generator-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.typewriter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px); /* Subtract navbar height */
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    animation: fadeInUp 1.5s ease-in-out;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.form-label {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    font-weight: bold;
    display: inline-block;
}
.form-row {
    margin-bottom: 15px;
}
#result {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 20px;
    text-align: center;
}
.qr-code {
    display: flex;
    justify-content: center;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    align-items: center;
    margin: 0 auto;
    display: block;
    width: 230px;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#generated-link a {
    color: #007bff;
    text-decoration: none;
}

#generated-link a:hover {
    text-decoration: underline;
}

/* content */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

/* footer */
.footer-green {
    background-color: #4caf50;
    color: #ffffff;
}
.social-icon {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
}
.social-icon:hover {
    color: #ddd;
}
/* p {
    text-align: justify;
} */
.download-button {
display: inline-block;
padding: 10px 20px;
background-image: linear-gradient( 135deg, #0f9 0%, #60f 100%);
color: #fff;
font-size: 18px;
font-weight: bold;
text-decoration: none;
border-radius: 10px;
border: none;
display: block;
margin: 15px auto;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease, transform 0.6s ease;
position: relative;
overflow: hidden;
animation: pulse 2s infinite;
}

.download-button:hover {
background-color: #0056b3;
transform: translateY(-2px);
animation: none;
border: none;
}

.download-button span {
position: relative;
z-index: 2;
}

@keyframes pulse {
0% {
transform: scale(1);
box-shadow: 0 0 0 rgba(0, 123, 255, 0.4);
}
25% {
transform: scale(1.05);
box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
}
50% {
transform: scale(1);
box-shadow: 0 0 0 rgba(0, 123, 255, 0.4);
}
100% {
transform: scale(1);
box-shadow: 0 0 0 rgba(0, 123, 255, 0.4);
}
} 
.custom-toast {
position: fixed;
top: 10px;
right: 10px;
width: 200px;
background-color: #28a745!important;;
color: #fff;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
z-index: 1000;
opacity: 0;
transform: translateY(-20px);
transition: opacity 0.3s, transform 0.3s;
}

.custom-toast.show {
opacity: 1;
transform: translateY(0);
}
.mt-3{
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
}
.mt-2{
margin-left: 10px;
margin-bottom: 7px;
}
.lead{
text-align: justify;
}